<%- include('./index'); %>

<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap1.css">
    <!-- Font-awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    
    <title>DevsCore </title>
</head>


    <!-- Contenido -->
    <main class="app-content"> <!-- Titulo-Cabecera -->
        <div class="app-title">
            <div>
                <h1>
                    <i class="fa fa-dashboard"></i> Bienvenido
                </h1>
                <p>A el lugar donde todos nos conectamos</p>
            </div>
        </div>
        
        <% if(friends.length > 0) {%>
            
        <div class="row" style="display: flex; justify-content: space-around; align-items: center; ">
            <% for(let i =0 ; i < friends.length ; i++) {%> 
                <% if(friends[i].id_user != data.data.id_user) {%> 
                <div class="col-md-6 col-lg-4">
                    
                    <div class="widget-small primary coloured-icon">
                        <i class="icon fa fa-users fa-3x"></i>
                        
                        <div class="info" style="display: flex; justify-content:space-around; align-items: center;">
                            <h4><%= friends[i].names %> </h4>
                            <p>
                                <button class="btn btn-dark" onclick="sendReq( '<%- friends[i].id_user%>','<%-  data.data.id_user %>','<%- data.data.names%>' )">Agregar</button>
                                
                            </p>
                        </div>
                            
                    </div>
                    
                </div>
                <% }%> 
            <% } %> 
        <% } else { %> 
            <div class="col-md-6 col-lg-3">
                <div class="widget-small danger coloured-icon">
                    <i class="icon fa fa-comment fa-3x"></i>
                        <div class="info">
                            <h4>Ooopss!</h4>
                            <p>
                                <b>Parece que aun no hay amigos</b>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>   
    </main>
        
        <!-- JS -->
        <script src="/public/js/jquery-3.2.1.min.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src = "/public/js/main.js"></script>

        <script>
        async function sendReq(id_friend,id_user,name){

            let request = {
                id_friend: id_friend,
                id_user: id_user,
                status: 0,
                name : name
            }
            console.log(request);
            let res = await fetch('http://localhost:2500/friends', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(request)
            });
            
        }
        </script>

</body>

</html>
