<%- include('./index'); %>

<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap1.css">
    <!-- Font-awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <title>DevsCore </title>
</head>
<body>
    <main class="app-content">
        <form action="/editUser" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend>Mis datos </legend>
            <label class="control-label">Nombre(s)</label>
            <input class="form-control" type="text" id="nombres" placeholder="Nombre(s)" autofocus name="username" required="true"  value="<%= data.data.names %>">

            <label class="control-label">Primer Apellido</label>
            <input class="form-control" type="text" id="primerA" placeholder="Primer Apellido" autofocus name="lastname" required="true"  value="<%= data.data.f_last_name %>">

            <label class="control-label">Segundo Apellido</label>
            <input class="form-control" type="text" id="segundoA" placeholder="Segundo Apellido" autofocus name="slastname" required="true" value="<%= data.data.s_last_name %>" >

            <label class="control-label">Email</label>
            <input class="form-control" id="email" type="email" placeholder="Email" autofocus name="email" value="<%= data.data.email %>">

            <label class="control-label">Imagen de perfil</label>                
            <input class="form-control" type="file" name="image" accept="image/png, image/jpeg" >

            <label  class="control-label">Fecha de nacimiento:</label>
            <input class="form-control" type="date" id="fechaNacimiento" name="date" value="<%= data.data.date_of_birth %>"
           min="1960-01-01" max="2021-12-31">


           <br>

           
           <fieldset>
            <legend>Lugares de residencia </legend>
            <label class="control-label">Pais</label>
            <select name="pais" id="pais"  >
                <option value="Mexico" selected>Mexico</option>
                <option value="Argentina">Argentina</option>
                <option value="Colombia">Colombia</option>
                <option value="USA">USA</option>
                <option value="Espana">España</option>
                <option value="CostaRica">CostaRica</option>
                <option value="Alemania">Alemania</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Brasil">Brasil</option>
                </select>

                <label class="control-label">Ciudad</label>
                <input type="text" id="city" placeholder="Ciudad" autofocusname="city" name="city">
                <br>
                <label class="control-label">linkedin</label>
                <input class="form-control" id="linkedin" type="url" placeholder="linkedin" autofocus name="linkedin">
                <label class="control-label">GitHub</label>
                <input class="form-control" id="GitHub" type="url" placeholder="GitHub" autofocus name="git">
           </fieldset>

           

           

           
           <button type="submit" class="btn btn-primary btn-lg">Guardar</button>

    </form>

    </main>
<!-- JS -->
<script src="/public/js/jquery-3.2.1.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src = "/public/js/main.js"></script>
<script>
    var mensaje = getUrlParameter('mensaje');
    var tipoMensaje = getUrlParameter('tipoMensaje');
    if (mensaje != "") {
        if (tipoMensaje == "") {
            tipoMensaje = 'alert-info';
            $.notify({
                title: "",
                message: mensaje,
                icon: 'fa fa-check'
            },{
                type: "info"
            });
        }else if(tipoMensaje == "error"){
            $.notify({
                title: "Error: ",
                message: mensaje,
                icon: 'fa fa-error'
            },{
                type: "danger"
            });
        }


    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
</script>

</body>

</html>