<!DOCTYPE html>
<html lang="es">
<!-- HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap1.css">
    <!-- Font-awesome-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>DevsCore </title>
</head>
<body class="app sidebar-mini">
<!-- Nav-->
<nav>
    <header class="app-header">
        <a class="app-header__logo" href="/">DevsCore</a>
        <!-- Sidebar toggle button-->
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <!-- Nav Right Menu-->
        <ul class="app-nav">
            
            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#"
                                    data-toggle="dropdown"><i class="fa fa-user fa-lg"></i> <%= data.data.names %></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="/users/perfil/?username={{ usuario.username }}"><i
                            class="fa fa-user fa-lg"></i> Perfil </a></li>
                    <li><a class="dropdown-item" onclick="delAut()" id="logout"><i
                            class="fa fa-sign-out fa-lg"></i> Cerrar sesion </a>
                    </li>
                </ul>
            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar"
                 src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg"
                 alt="User Image" width="48" height="48">
           
            <div>
                <h4 style="color: aliceblue;"><%= data.data.names %> </h4>
                <h6 style="color: aliceblue;"><%= data.data.f_last_name %> <%= data.data.s_last_name %>  </h6>

            </div>
        </div>
        <ul class="app-menu">
            
            <li class="treeview"><a id="posts" class="app-menu__item" href="#"
                                    data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span
                    class="app-menu__label">Mis perfil</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu" id="desplieguePosts">
                    <li><a class="treeview-item" href="/userProfile"><i
                            class="icon fa fa-circle-o"></i> Ver información </a></li>
                </ul>
            </li>
            <li class="treeview"><a id="usuarios" class="app-menu__item" href="#"
                                    data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span
                    class="app-menu__label">Amigos</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu" id="despliegueUsuarios">
                    <li><a class="treeview-item" href="/myFriends/<%= data.data.id_user %> "  ><i
                            class="icon fa fa-circle-o"></i> Mis amigos </a></li>
                    <li><a class="treeview-item" href="/friendsRequest/<%= data.data.id_user %> "><i
                            class="icon fa fa-circle-o"></i> Peticiones de amistad </a>
                    </li>
                    <li><a class="treeview-item" href="/allFriends"><i
                            class="icon fa fa-circle-o"></i> Buscar amigos </a>
                    </li>
                </ul>
            </li>
            <li class="treeview"><a id="usuarios" class="app-menu__item" href="#"
                                    data-toggle="treeview"><i class="app-menu__icon fa fa-users"></i><span
                    class="app-menu__label">Comentarios</span><i
                    class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu" id="despliegueUsuarios">
                    <li><a class="treeview-item" href=""><i
                            class="icon fa fa-circle-o"></i> Ver comentarios </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</nav>
    <!-- Contenido -->
    
        
<!-- JS -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src = "/js/main.js"></script>

<script>
    var mensaje = getUrlParameter('mensaje');
    var tipoMensaje = getUrlParameter('tipoMensaje');
    if (mensaje != "") {
        if (tipoMensaje == "") {
            tipoMensaje = 'alert-info';
            $.notify({
                title: "",
                message: mensaje,
                icon: 'fa fa-check'
            },{
                type: "info"
            });
        }else if(tipoMensaje == "error"){
            $.notify({
                title: "Error: ",
                message: mensaje,
                icon: 'fa fa-error'
            },{
                type: "danger"
            });
        }


    }

    function getUrlParameter(name) {
        name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
        var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
        var results = regex.exec(location.search);
        return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };

    function alertCookie() {
        let cookies = document.cookies;
        console.log(cookies);
        alert(document.cookie);
    }

    function delAut(){
        document.cookie.split(";").forEach(function(c) {
          document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
        });
        window.location = '/login'
    }
</script>

</body>

</html>
